@import '../../../styles/settings.scss';

.container {
    height: 100vh;
    display: grid;
    place-items: center;
    @media (max-width: $tablet-breakpoint) {
        height: auto;
    }
}

.subContainer {
    height: 86%;
    margin-top: 2rem;
    width: 80%;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    background-color: $light-white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: $tablet-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}