@import '../../settings.scss';

.container {
    margin: 0.75rem 2rem;
    flex-grow: 1;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    min-height: 160px;
    max-height: 200px;
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
    @media (max-width: 1300px) {
        min-height: 220px;
        max-height: 250px;
    }
    @media (max-width: $tablet-breakpoint) {
        margin: 2.5rem;
        grid-template-columns: 1.25fr 0.75fr;
        min-height: 320px;
        max-height: 350px;
    }
    @media (max-width: $mobile-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
        margin: 1rem;
        min-height: 650x;
        max-height: 700px;
    }
    .updateContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: $mobile-breakpoint) {
            padding: 1.25rem 0;
        }
        .dataSubContainer {
            margin: 0.25rem 0;
            padding: 0 1.75rem;
            @media (max-width: $mobile-breakpoint) {
                padding: 0 3.25rem 0 2rem;
            }
            input {
                margin: 0;
                padding: 0;
                border-radius: 0.25rem;
                width: 180px;
                border: 2px solid $grey;
                @media (max-width: $tablet-breakpoint) {
                    height: 2.5rem;
                    font-size: 1rem;
                    margin: 0.5rem 0;
                }
                @media (max-width: $mobile-breakpoint) {
                    height: 2rem;
                    font-size: 0.75rem;
                    margin: 0.5rem 0;
                    width: 100%;
                }
            }
        }
    }
    .dataContainer {
        padding: 0 0 0 1.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: $tablet-breakpoint) {
            align-items: start;
            justify-content: center;
        }
        @media (max-width: $mobile-breakpoint) {
            margin: 2rem 0;
        }
        p {
            margin: 0.25rem 0;
            @media (max-width: $tablet-breakpoint) {
                margin: 1rem 0;
            }
        }
    }
    .btnsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $mobile-breakpoint) {
            border-top: 3px solid $light-gray;
        }
        .cancel {
            position: absolute;
            border: 1px solid $light-gray;
            border-radius: 50%;
            color: $grey;
            width: 2rem;
            text-align: center;
            line-height: 2rem;
            height: 2rem;
            right: 1rem;
            top: 0.5rem;
            font-size: 1rem;
            background-color: $light-white;
            font-weight: 600;
            cursor: pointer;
            @media (max-width: $tablet-breakpoint) {
                font-size: 1.5rem;
            }
            @media (max-width: $mobile-breakpoint) {
                font-size: 1.25rem;
            }
        }
    }
}
