@import '../../settings.scss';

.container {
    overflow-y: auto;
    max-height: 100%;
    padding: 0.5rem 0;
    @media (max-width: $tablet-breakpoint) {
    }
    @media (max-width: $mobile-breakpoint) {
        
    }
}

.noEventsMsg {
    padding: 0 1rem;
}