@import '../../settings.scss';

.container {
    overflow-y: auto;
    height: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    @media (max-width: $tablet-breakpoint) {
        display: block;
    }
    @media (max-width: $mobile-breakpoint) {
        display: block;
    }
}

.noEventsMsg {
    padding: 0 1rem;
}