@import '../../settings.scss';

.container {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    min-width: 6rem;
    transform: translateX(-50%);
    border-radius: 10px;
    display: grid;
    place-items: center;
    line-height: 2rem;
    font-size: 1rem;
    padding: 0 1rem;
    font-weight: bold;
    @media (max-width: $tablet-breakpoint) {
        top: 3rem;
        height: auto;
        padding: 1rem;
        font-size: 2rem;
        font-weight: normal;
    }
    @media (max-width: $mobile-breakpoint) {
        top: 3rem;
        height: auto;
        font-size: 1.5rem;
        width: 80%;
    }
}

.red {
   color: $error-color;
   border: 2px solid $error-color; 
}

.green { 
    color: $success-color;
    border: 2px solid $success-color; 
}

.blue { 
    color: $info-color;
    border: 2px solid $info-color; 
}