@import '../../settings.scss';

.container {
    border-right: 3px solid $light-gray;
    display: grid;
    place-items: center;
    @media (max-width: $tablet-breakpoint) {
        border-right: none;
    }
    @media (max-width: $mobile-breakpoint) {
        width: 100%; 
        min-height: 900px;
    }
    .form {
        display: grid;
        width: 400px;
        @media (max-width: $tablet-breakpoint) {
            width: 80%; 
            margin-top: 8rem;  
        }
        @media (max-width: $mobile-breakpoint) {
            width: 90%;
            justify-content: center; 
            margin-top: 3rem;
        }
        .formItem {
            display: grid;
            grid-template-rows: 1fr 1fr;
            margin: 1rem 0;
            label {
                font-weight: bold;
            }
            input {
                margin: 0;
                padding: 0 0.5rem;
                border-radius: 0.25rem;
                border: 2px solid $grey;
                height: 2rem;
                background-color: $light-white;
                font-family: $main-font;
                @media (max-width: $tablet-breakpoint) {
                    height: 3rem;
                    font-size: 2rem;
                    min-width: 600px;
                }
                @media (max-width: $mobile-breakpoint) {
                    height: 3rem;
                    font-size: 1rem;
                    min-width: 250px;
                }
            }
        }
        button {
            width: 50%;
            justify-self: center;
            @media (max-width: $tablet-breakpoint) {
                margin-top: 5rem;
            }
            @media (max-width: $mobile-breakpoint) {
                width: 100%;
                justify-content: center; 
           }
        }
    }
}