// settings.scss
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Mulish&family=Roboto:wght@100&display=swap');;

// Colors
$info-color: #3498db;
$success-color: #0e8a42;
$error-color: #e74c3c;
$light-white: rgb(250, 250, 252);
$light-gray: rgba(200, 200, 208, 1);
$color-black: #000;
$light-background-a: aliceblue;
$light-background-b: rgb(252, 246, 246);
$grey: grey;

// Fonts
$main-font: 'EB Garamond', serif;
$heading-font: 'Roboto', sans-serif;

// Spacing
$base-spacing: 16px;

// Border radius
$border-radius: 10px;

// Box shadow
$box-shadow: 0px 0px 16px 3px rgba(200, 200, 208, 1);

// Breakpoints
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;

